<ion-view title="Erinnerungen" ng-controller="MemoriesPageController as vm">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" ng-repeat="memory in vm.memories">
      <a class="item item-thumbnail-left" href="#/app/memories/{{memory.id}}">        
        <img src="{{memory.image}}">
        <h2>{{memory.title}}</h2>
        <p>Some text here...</p>
      </a>
    </div>
  </ion-content>
</ion-view>
